# python-dotenv==1.1.1
# faker
# jsonschema
# confluent_kafka

# confluent-kafka==2.3.0
# faker==22.2.0
# jsonschema==4.21.0
# python-dotenv==1.0.0
# pandas==2.1.4
# numpy==1.24.3


confluent-kafka
python-dotenv
pandas
numpy
pyyaml