bin/
cmake/
conda-meta/
etc/
include/
lib/
man/
share/
ssl/
var/
sbin/
mod/
*.mod
src/logs/*

# System files
.DS_Store
*.swp
*.swo

# Conda environment
/env
/venv
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
*.log



